# Explooringn sakila databas
## loading the data

In [11]:
import duckdb

def duckdb_query(query, path_to_duckdb="sakila/sakiola.duckdb"): #did a function
    with duckdb.connect("sakila/sakila.duckdb") as duck:
     data = duck.sql(query).df()
     return data
    
duckdb_query("""FROM staging.film;""").head(3)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,_dlt_load_id,_dlt_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00,1764842500.1806562,jKxhPVjSrkVLag
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764842500.1806562,dOQMcx/01Z9s+A
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,<NA>,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764842500.1806562,qlcrmeALIQOefw

Task 1 EDA


a) Which movies are longer than 3 hours (180 minutes), show the title and its length?

First i did a info just to se

In [12]:
duckdb_query( """ 
SELECT 
    title, 
    length  
FROM staging.film  
WHERE length > 180;         
"""
)

                 title  length
0     ANALYZE HOOSIERS     181
1      BAKED CLEOPATRA     182
2        CATCH AMISTAD     183
3        CHICAGO NORTH     185
4    CONSPIRACY SPIRIT     184
5       CONTROL ANTHEM     185
6     CRYSTAL BREAKING     184
7       DARN FORRESTER     185
8       FRONTIER CABIN     183
9          GANGS PRIDE     185
10    HAUNTING PIANIST     181
11           HOME PITY     185
12     HOTEL HAPPINESS     181
13      INTRIGUE WORST     181
14       JACKET FRISCO     181
15      KING EVOLUTION     184
16      LAWLESS VISION     181
17       LOVE SUICIDES     181
18       MONSOON CAUSE     182
19     MOONWALKER FOOL     184
20       MUSCLE BRIGHT     185
21        POND SEATTLE     185
22       RECORDS ZORRO     182
23          REDS POCUS     182
24  RUNAWAY TENENBAUMS     181
25         SATURN NAME     182
26       SCALAWAG DUCK     183
27      SEARCHERS WAIT     182
28     SMOOCHY CONTROL     184
29  SOLDIERS EVOLUTION     185
30      SONS INTERVIEW     184
31      SORORITY QUEEN     184
32      STAR OPERATION     181
33   SWEET BROTHERHOOD     185
34      THEORY MERMAID     184
35           WIFE TURN     183
36         WILD APOLLO     181
37        WORST BANGER     185
38      YOUNG LANGUAGE     183

Task 1, b) Which movies have the word "love" in its title? Show the following columns
    - title
    - rating
    - length
    - description

In [19]:
duckdb_query(""" 
SELECT
    title,
    length,
    rating,
    description                 
FROM staging.film 
WHERE title ILIKE '%love%';
""")

,title,length,rating,description
0,GRAFFITI LOVE,117,PG,A Unbelieveable Epistle of a Sumo Wrestler And...
1,IDAHO LOVE,172,PG-13,A Fast-Paced Drama of a Student And a Crocodil...
2,IDENTITY LOVER,119,PG-13,A Boring Tale of a Composer And a Mad Cow who ...
3,INDIAN LOVE,135,NC-17,A Insightful Saga of a Mad Scientist And a Mad...
4,LAWRENCE LOVE,175,NC-17,A Fanciful Yarn of a Database Administrator An...
5,LOVE SUICIDES,181,R,A Brilliant Panorama of a Hunter And a Explore...
6,LOVELY JINGLE,65,PG,A Fanciful Yarn of a Crocodile And a Forensic ...
7,LOVER TRUMAN,75,G,A Emotional Yarn of a Robot And a Boy who must...
8,LOVERBOY ATTACKS,162,PG-13,A Boring Story of a Car And a Butler who must ...
9,STRANGELOVE DESIRE,103,NC-17,A Awe-Inspiring Panorama of a Lumberjack And a...

Task 1, c) Calculate descriptive statistics on the length column, The Manager wants, shortest, average, median and
longest movie length

In [23]:
duckdb_query(""" 
SELECT 
     MAX(length) as max_length,
     MIN(length) as min_length,
     MEDIAN(length) as median_length,
     AVG(length) as avrage_lenght
FROM staging.film;
                    
""")

   max_length  min_length  median_length  avrage_lenght
0         185          46          114.0        115.272

d) The rental rate is the cost to rent a movie and the rental duration is the number of days a customer can
keep the movie. The Manager wants to know the 10 most expensive movies to rent per day.

ORDER BY cost_per_rental DESC
LIMIT 10;

In [53]:
duckdb_query(""" 
SELECT
    title, 
    rental_duration * rental_rate as cost_per_rental          
FROM staging.film;

""").max()

title              ZORRO ARK
cost_per_rental        34.93
dtype: object

e) Which actors have played in most movies? Show the top 10 actors with the number of movies they have
played in.

(I used LLM to get these questions)

f)Which movies have been rented out, top 5?

g) Which store have the highest rental rate, top 3?

h)  Which movies are in which stores?

i) Which catagory has the most films?