# Explooringn sakila databas
## loading the data

In [ ]:
import duckdb

def duckdb_query(query, path_to_duckdb="sakila/sakiola.duckdb"): #did a function
    with duckdb.connect("sakila/sakila.duckdb") as duck:
     data = duck.sql(query).df()
     return data
    
duckdb_query("""FROM staging.film;""").head(3)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,_dlt_load_id,_dlt_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00,1764842500.1806562,jKxhPVjSrkVLag
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764842500.1806562,dOQMcx/01Z9s+A
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,<NA>,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1764842500.1806562,qlcrmeALIQOefw

Task 1 EDA


a) Which movies are longer than 3 hours (180 minutes), show the title and its length?

First i did a info just to se

In [20]:
duckdb_query( """ 
SELECT 
    title, 
    SUM(length > 180) as film_over_180    
FROM staging.film;            
"""
).df

BinderException: Binder Error: column "title" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(title)" if the exact value of "title" is not important.